.form-login {
  width: 500px;
  margin: 20px auto;
  padding: 10px;
}
.form-login label {
  display: block;
  margin: 20px 0 5px 0;
}
.form-login input {
  width: 100%;
  height: 30px;
}
.form-login .link-to-register {
  text-decoration: none;
  font-size: 13px;
  color: var(--primary-color-dark);
}
.form-login .link-to-register:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.form-login .sign-in-btn {
  display: block;
  background-color: var(--primary-color-light);
  margin: 15px 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.form-login .sign-in-btn:hover {
  color: #fff;
  font-weight: 520;
  background-color: var(--primary-color-dark);
}