.form-edit-user {
  width: 500px;
  margin: 20px auto;
  padding: 10px;
}

.form-edit-user label {
  display: block;
  margin: 20px 0 10px 0;
}

.form-edit-user input {
  width: 100%;
  height: 30px;
}

.form-edit-user .edit-user-btn {
  display: block;
  background-color: var(--primary-color-light);
  margin: 15px 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.form-edit-user .edit-user-btn:hover {
  color: #fff;
  font-weight: 520;
  background-color: var(--primary-color-dark);
}