.form-edit-student #student-pfp { grid-area: pfp; }
.form-edit-student label:has(#nome) { grid-area: nome; }
.form-edit-student label:has(#sobrenome) { grid-area: sobrenome; }
.form-edit-student label:has(#email) { grid-area: email; }
.form-edit-student label:has(#idade) { grid-area: idade; }
.form-edit-student label:has(#altura) { grid-area: altura; }
.form-edit-student label:has(#peso) { grid-area: peso; }
.form-edit-student .edit-student-btn { grid-area: btn; }

.form-edit-student {
  --img-dimension: 200px;
  width: 500px;
  margin: 20px auto;
  display: grid;
  grid-template-areas:
  "pfp nome"
  "pfp sobrenome"
  "pfp email"
  "idade idade"
  "altura altura"
  "peso peso"
  "btn . ";
  grid-template-columns: var(--img-dimension) 1fr;
  grid-template-rows: repeat(3, calc(var(--img-dimension) / 3 - 5px));
  gap: 10px;
  align-items: center;
}

.form-edit-student input[type=file] {
  display: none;
}
.form-edit-student #student-pfp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: clip;
}

.form-edit-student #student-pfp .select-pfp-hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.form-edit-student #student-pfp .select-pfp-hover:hover {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  opacity: 90%;
}
.form-edit-student #student-pfp .select-pfp-hover button {
  padding: 1px;
}
.form-edit-student #student-pfp img,
.form-edit-student #student-pfp svg {
  display: block;
  width: var(--img-dimension);
  height: var(--img-dimension);
}

.form-edit-student label {
  display: block;
}

.form-edit-student input {
  display: block;
  margin: 5px 0 0 0;
  padding: 7px 3px;
  width: 100%;
}

.form-edit-student .edit-student-btn {
  display: block;
  background-color: var(--primary-color-light);
  width: fit-content;
  margin: 15px 5px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.form-edit-student .edit-student-btn:hover {
  color: #fff;
  font-weight: 520;
  background-color: var(--primary-color-dark);
}